{% extends "layout.html" %}
{% block content %}
{% if loggedin == True %}
<div class="form-group">
  <form class="form-control" action="/indseat_maaledata" method="post">
    <label for="from-control-static" for='text'>Indtast den måling du gerne vil have vist:</label>
    <input type="text" id="npd" name="npd"><br><br>
    <!-- <textarea class="form-control" rows="5" id="text" name="data"></textarea> -->
    <button class="form-control" type="submit" name="button">Send</button>
  </form>
</div>
{% endif %}
{% endblock content %}
