{% extends "layout.html" %}
{% block content %}
{% if loggedin == True %}
<div class="form-group">
  <form class="form-control" action="/nydata" method="post">
    <label class="form-control-static" for="text">Indsæt nav på data:</label>
    <input type="text" id="text" name="navn_paa_data"><br><br>
    <!-- <textarea class="form-control" rows="5" id="text" name="data"></textarea> -->
    <button class="form-control" type="submit" name="button">Send</button>
  </form>
</div>
{% endif %}
{% endblock content %}
